<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/poke-inifor.css">
    <title>Pokedex</title>
</head>
<body>
    <section class="after-template">
        <div class="container-of-box-informations">
            <div class="box-information-nav">
                <div class="box-information-nav-title">
                    <p>Pokemon Infor</p>
                </div>
                <button><a href="./start.html" class="link-button">Trocar pokemon?</a></button>
            </div>
            <div class="box-information-main">
                <div class="box-information-image">
                        <img src="../images/DefaultPikachu.webp" alt="Image not found...">
                </div>
                <div class="box-information-list">
                    <ul class="information-list">
                        <li class="list-icon"></li>
                        <li class="list-icon"></li>
                        <li class="list-icon"></li>
                        <li class="list-icon"></li>
                        <li class="list-icon"></li>
                    </ul>
                </div>
            </div>
<hr>
            <div class="box-information-atacks">
                <h2 class="box-information-atacks-title">Atacks:</h2>
                <ul class="box-information-atacks-list">
                    <li class="box-information-atacks-item">Firts atack</li>
                    <li class="box-information-atacks-item">Second atack</li>
                </ul>
            </div>
        </div>
    </section>
    <script type="module" src="../dist/main.js"></script>
</body>
</html>
