<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/start.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Pokedex - upper</title>
</head>
<body>
        <h1 class="first-title">Welcome to my pokemon game!</h1>
        <h3 class="second-title">Let's start!</h3>
        <div class="form-container">
            <form class="form" action="" method="">
                <label for="nick">Your nick name:</label>
                <input type="text" name="nick" id="nick" placeholder="Nick here...">
                <label for="pokemon">Choose your pokemon:</label>
                <input type="text" name="pokemon" id="pokemon" placeholder="Pokemon name here..." required>
                <label for="ip-machine">The ip of your machines's opponent:</label>
                <input type="text" name="ip-machine" id="ip-machine" placeholder="Ip here..." required>
                <input type="submit" id="ready" value="I am ready">
            </form>
        </div>
       <script src="../dist/main.js"></script>
</body>
</html>